<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Sports Blog</title>

  <link rel="stylesheet" href="/stylesheets/style.css" type = "text/css">
</head>
<div class="wrapper">
    <header>
        <a href="/"> Sports Blog </a>
<body>
  <ul>
       
      <li><a href="threads.handlebars"> Threads </a></li>
      <li><a href="/scores"> Scoreboard </a></li>
      <li><a href="bookmarks.handlebars"> Bookmarks </a></li>
      
      <li><a href="search.handlebars"><input type="'search" class="serach-bar" placeholder=" Search... "></a></li>

        {{#if loggedIn}}
        <a href="/dashboard"><span class="glyphicon glyphicon-user"></span>{{ username }}'s Dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}

        
      </ul>

       
        <a href="/login"> Login </a>
        {{/if}}
        </nav>
      </h1>
      
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>

</body>

</html>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}