<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" >
  

     <div class="columns is-mobile is-centered mb-3">
       <div>
            <div class="column mt-6 mr-5">
           </div>
<div>
 <img 
    src="images/nba800.jpeg">
</div>
<main>
    
                <h1 class="is-size-2 has-text-centered" id="welcome"> Welcome to BuzzerBeater! </h1>
               
                <h3 class="is-size-3 has-text-centered" id="sub">Where you can get caught up on all the latest news on the NBA and your favorites teams!</h3>
               <ul>
                 <li><i class="fas fa-basketball-ball"></i> Get the latest basketball updates and interact with users by creating blog posts and commenting on other posts as well.</li>

                 <li><i class="fas fa-basketball-ball"></i> Save threads that interest you to your bookmarks for easy acess.</li>
                 <br> </br>

                 <li><i class="fas fa-basketball-ball"></i> Also search by dates to pull up current or past threads that you may have missed.</li>
              
               </ul>
            </div>
        </div>
    </main>

{{#if loggedIn}}
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post}}
  </li>
  {{/each}}
</ol>
{{/if}}