<div class="scores">
    <h2>Scores Page</h2>
<script id="scores-template" type="text/x-handlebars-template">
<ul class="scoreList">
  <li>{{home.name}}:{{home.score}} <b></b>{{away.name}}:{{away.score}}</li>
</ul>
</script>
</div>