    <h2>Scores Page</h2>
<div id="scores-template" type="text/x-handlebars-template">
<ul class="scoreList">
{{#each post}}
    <ol>
        <a  href="/dashboard?{{this}}">{{this}}</a>
    </ol>
    {{/each}}
</ul>
</div>
</div>
<script src="/javascript/games.js"></script>
